
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import "tailwindcss";

@theme {
  --color-main-color: #FDBD02;
  --color-black-color: #261E25;
  --color-white-color: #F3F3EB;
  --font-russo-one: "Russo One", sans-serif;
}

@layer base {
  :root {
    background-color: var(--color-main-color);
    min-height: 100vh;
  }
}

@layer components {
  .shadow-block {
    filter: drop-shadow(-2px 4px var(--color-black-color));
  }
}

.pause {
  filter: blur(1.5rem);
  transition: all .3s linear;
}

.nopause {
  transition: all .3s linear;
}